@{
  Layout = "_Layout";
}

<h1>Your Change</h1>

<ul>
<li>Quarters: @Model["quarters"]</li>
<li>Dimes: @Model["dimes"]</li>
<li>Nickels: @Model["nickels"]</li>
<li>Pennies: @Model["pennies"]</li>
</ul>

<a href="/"><button>Home</button></a>
